---
import Navigation from './Navigation';
---

<header class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="container flex h-16 items-center justify-between">
    <a href="/">
      <img src="/images/logo.svg" alt="Pracownia Myśli" class="h-10 w-auto" />
    </a>
    <Navigation client:load />
  </div>
</header>
